//Color styles
$white: rgba(255, 255, 255, 1);
$black: rgba(11, 11, 11, 1);
$grey: rgba(174, 173, 174, 1);
$turquoise: #ef6f31;
$brown: rgba(80, 68, 66, 1);
$red: rgba(203, 25, 23, 1);
$brick: rgba(173, 111, 91, 1);
$cyan: rgba(93, 240, 200, 1);
$yellow: rgba(255, 190, 107, 1);
$blu: rgba(68, 115, 238, 1);
$lightgrey: #F5F7FA;
$tortora: #F8F8F8;


// fonts:
$main-font: 'Montserrat', sans-serif;